html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}   


.hero{
    height: 100vh;
    background-image: url("./assetsinterview/Assets/hero-background.jpg");
    background-position:50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

.header{
   
    padding: 0 5%;
}

.logo{
    width: 150px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-left{
    display: inline-flex;
    
    justify-content: space-between;
    padding: 60px ;
}

.menu-right{
    display: inline-flex;
   
    justify-content: space-between;
    padding : 60px ;
}

.menu-left li{
    padding-left: 50px  ;
    list-style: none;
    
}

.menu-right li{
    padding-right: 50px  ;
    list-style: none;
}

.menu-items{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    letter-spacing: .2em;
text-transform: uppercase;
font-size: 11px;
line-height: 15px;
list-style-type: none;
font-family: Lato, sans-serif;
}

.menu-items:hover{
    content: '';
    color: #90c497;
    transition: color .3s;
}

.extra{
    text-decoration:none ;
    color: #fff;
    padding: 5px 0;
    letter-spacing: .2em;
text-transform: uppercase;
font-size: 11px;
line-height: 15px;
font-family: Lato, sans-serif;
border-bottom: dotted;
}

.banner{
margin-top: 275px;
}

.subheading{
   display:flex;
   align-items: center;
   justify-content:center;
   letter-spacing: .7em;
text-transform: uppercase;
margin-top: 85px;
margin-bottom: 40px;
font-size: 11px;
line-height: 15px;
color: #fff;
}
.main-heading{
    font-family: Marcellus, sans-serif;
    src: url(./assetsinterview/Assets/Marcellus-Regular.ttf);
    display:flex;
    align-items: center;
    justify-content:center;
     color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: .1em;
margin-top: 0;
margin-bottom: 30px;


font-size: 70px;
font-weight: 400;
line-height: 80px;
  }
 

/* maincontent */

.main-content{
    height: 230vh;
}

.section1{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
    padding-top: 160px;
}

.section-image{
 height:300px;
 width: 1000px;
}

.section-image img {
    width: 70%;
    height: auto;
}

.section-text{
    width: 30%;
 margin-right: 300px;
}

h3{
    color: #04211f;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Marcellus, sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 56px;
  }

  .bottom-text{
    color: #909a93;
font-family: Lato, sans-serif;
src: url(./assetsinterview/Assets/Lato-Regular.ttf);
font-size: 16px;
line-height: 26px;
  }

  .green-title {
    color: #759279;
    letter-spacing: .7em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 15px;
  }

  .link-dotted-black {
    color: #04211f;
    letter-spacing: .2em;
    text-transform: uppercase;
    border-bottom: 1px dashed #000;
      border-bottom-style: dashed;
    padding-bottom: 9px;
    font-size: 11px;
    line-height: 15px;
    text-decoration: none;
    transition: all .3s;
  }

  .link-dotted-black:hover {
    border-bottom-style: solid;
  }

.section2{
    display:flex;
    flex-wrap: nowrap;
   margin-left: 100px;
    align-items: center;
    margin-right: 100px;
    
}

  .logos-wrapper {
    
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-top: 120px;
    display: grid;
  }

.section3{
    
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 140px;
        margin-right: 140px;
        padding-top: 160px;
    
}

.section-text-mirror{
    width: 50%;
 margin-left: 100px;
}

.button1{
    font-family: Lato, sans-serif;
    min-width: 250px;
color: #04211f;
text-align: center;
letter-spacing: .2em;
text-transform: uppercase;
background-color: #90c497;
padding: 16px 55px 16px 55px;
font-size: 11px;
line-height: 15px;
transition: color .3s;
text-decoration: none;
margin: 0;
}

.button1:hover {
    color: #fff;
  }



.step{
    background-image: url("./assetsinterview/Assets/veggies.jpg");
background-position: 50%;
background-repeat: no-repeat;
background-size: cover;
height: 82vh;
}

.white-heading{
    color: #fff;  
    letter-spacing: .1em;
    margin-top: 0;
    
    font-family: Marcellus, sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
  }
.step-content{
    max-width: 1000px;
text-align: center;
padding-top: 240px;
padding-bottom: 120px;
padding-left: 275px;
}


/* pricing */

.pricing{
  height: 100vh;
  text-align: center;
  margin-top: 150px;
}

.pricing-text{
  margin-bottom: 50px;
}
.overheading {
  color: #909a93;
font-family: Lato, sans-serif;  
  letter-spacing: .7em;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 11px;
  line-height: 15px;
}

.pricing-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.pricing-box, .individual {
  max-width: 500px;
  text-align: left;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
}

.pricing-inner {
  z-index: 10;
  position: relative;
}

.box-over {
  letter-spacing: .7em;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 15px;
  color: #909a93;
font-family: Lato, sans-serif;
}

.list {
  margin-bottom: 40px;
  margin-left: 15px;
  list-style-type: disc;
}

.list-item {
  margin-bottom: 10px;
  color: #909a93;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.pricing-box {
  width: 30%;
  padding: 80px 40px 100px 65px;
}

.testimonials {
  margin-top: 100px;
  padding-bottom: 160px;
  display: flex;
}

/* .quotation-mark {
  margin-bottom: 40px;
  max-width: 100%;
vertical-align: middle;
display: inline-block;
height: 30px;
width: 30px;
} */


.half{
  width: 50%;
}

h4{
  color: #04211f;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Marcellus, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
}

.quote {
  color: #04211f;
  margin-bottom: 40px;
  font-family: Lato, sans-serif;
font-size: 16px;
line-height: 26px;
}


.author {
  letter-spacing: .7em;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 11px;
  line-height: 15px;
  color: #909a93;
font-family: Lato, sans-serif;
}

.halftext{
  justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
margin-left: 100px;
margin-right: 100px;
text-align: center;
}


.halfimg{
  width: 1000px;
  height: auto;
}
.halfimg img{
  width: 100%;
  height: auto;
}


.booking-content {
  max-width: 1040px;
  padding-top: 160px;
  padding-bottom: 160px;
  padding-left: 180px;;
}

.booking-text {
  text-align: center;
  margin-bottom: 60px;
}

.contact-form {
  text-align: center;
  margin-bottom: 0;
}

.field-row {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}


.text-field {
  width: 49%;
  height: 60px;
  background-color: #f5f5f5;
  margin-bottom: 0;
  align-items: center;
}

.w-input, .w-select {
  width: 100%;
  height: 38px;
  color: #333;
  
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

.textarea {
  min-height: 80px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}


.stripe {
  padding: 20px;
  display: inline-flex;
}

.grid {
  
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.w-layout-grid {

  grid-auto-columns: 1fr;
  display: grid;
  
  grid-auto-columns: 1fr;
  display: grid;
}

.gridimg {
  width:148.45px;
  height: 148.45px;
}

.contact{
  margin-left: 250px;
  font-family: Lato, sans-serif;
}
.contact-content{
max-width: 1040px;
padding-top: 40px;
padding-bottom: 40px;
font-size: 20px;
line-height: 30px;
}
.contact-inner {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.link {
  color: #04211f;
  font-weight: 400;
  text-decoration: none;
  transition: all .3s;
}



.contact-telephone {
  color: #04211f;
  border-left: 1px solid #04211f;
  border-right: 1px solid #04211f;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  transition: all .3s;
}

.contact-address {
  color: #04211f;
  margin-bottom: 0;
}

.fruit-image{
  width:1536px;
  height: autopx;
  
}

.footer {
  
  background-image: url("./assetsinterview/Assets/footer-img.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Lato, sans-serif;
font-size: 16px;
line-height: 26px;
}

.footer-content {
  color: #fff;
  padding-top: 160px;
  padding-bottom: 40px;
  width: 80%;
max-width: 1300px;
margin-left: auto;
margin-right: auto;
}

.footer-wrapper {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr 1.25fr;
  grid-auto-columns: 1fr;
  margin-bottom: 100px;
  display: grid;
}

.simple-logo {
  width: 12vw;
}

.white-heading {
  
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Marcellus, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
}